body{
    margin: 0;
    padding:0;
    font-size:14px;
}
@media (min-width:700px){
    .container{
        background: #8e7cdd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:0 auto;
        width:375px;
        height:667px;
    }
}
@media (max-width:700px){
    .container{
        background: #8e7cdd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:0 auto;
        width:100vw;
        height:100vh;
    }
}
header{
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    align-items: center;
    height:60px;
    width:100%;
}
header>.count{
    color:#fff;
    font-size:1.2rem;
}
header>.back{
    width:2rem;
    background: #5d4f97;
    border-radius: 5px;
    text-align: center;
    height:2rem;
    margin-left:.5rem;
    margin-top:.3rem;
    position: relative;
}
header>.back::before{
    content:'<';
    font-size:1.2rem;
    font-weight: 600;
    position: absolute;
    width:2rem;
    line-height:2rem;
    background: #d6d0f3;
    border-radius: 5px;
    bottom:.3rem;
    left:0;
}
header>.replay{
    border-radius:5px;
    background: #ae7a30;
    position: relative;
    height:2rem;
    min-width:2.6rem;
    margin-right:.5rem;
    margin-top:.3rem;
}
header>.replay::before{
    position: absolute;
    content:'重来';
    color:#5f45cf;
    line-height:2rem;
    font-size:.8rem;
    border-radius:5px;
    background: #ffff00;
    bottom:.3rem;
    /* width:2rem; */
    padding:0 .5rem;
}
.main{
    background: #d6d0f3;
    min-height:477px;
    width:358px;
    padding:5px 8px 5px 9px;
}
.main span{
    display: inline-block;
    background: #fff;
    height:36px;
    line-height: 2rem;
    font-size:1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width:36px;
    margin:3px 1px 0px 2px;
    text-align: center;
}
.main span:hover{
    opacity:.7;
}
footer{
    height:120px;
    width:100%;
}
.board_title{
    color:#fff;
    text-align: center;
    line-height:2rem;
}
.board{
    background-color:#ffffaa;
    border-radius: 5px;
    color:#5f45cf;
    margin:0px auto;
    width:357px;
    height:80px;
}
.board>span{
    font-size:1rem;
    padding:2rem 0 1rem 1rem;
}
span.selected{
    text-decoration:line-through;
}
span.actived1{
    background-color:#8e7cdd;
}
#canvas_area{
    border: 1px solid red;
    height:489px;
    width:375px;
    margin:60px auto;
    position: absolute; 
    /* z-index: -1; */
}